{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if user_role == 'ADMIN' or user.is_superuser %}
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text fs-3">{{ total_users }}</p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-md-4">
            <div class="card text-white {% if user_role == 'ADMIN' %}bg-success{% else %}bg-warning{% endif %} mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Projects</h5>
                    <p class="card-text fs-3">{{ total_projects }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white {% if user_role == 'ADMIN' %}bg-info{% else %}bg-secondary{% endif %} mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Tasks</h5>
                    <p class="card-text fs-3">{{ total_tasks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}