{% extends 'base.html' %}

{% block content %}

<h2>Projects</h2>

{% if user_role == 'ADMIN' %}
<div class="mb-3">
    <a href="{% url 'project_add' %}" class="btn btn-primary">
        Add Project
    </a>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.ID }}</td>
                <td>{{ project.Name }}</td>
                <td>{{ project.Desc }}</td>
                <td>{{ project.Created_By.username }}</td>

                <td>

                    <a href="{% url 'project_edit' project.ID %}" 
                       class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    {% if user_role == 'ADMIN' %}
                    <form method="POST" action="{% url 'project_delete' project.ID %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger"
                                onclick="return confirm('Are you sure?')">
                            Delete
                        </button>
                    </form>
                    {% endif %}

                    {% if user_role == 'MANAGER' or user_role == 'ADMIN' %}
                        <a href="{% url 'project_detail' project.ID %}" 
                           class="btn btn-sm btn-primary">
                            Details
                        </a>
                    {% endif %}

                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}