{% extends 'base.html' %}

{% block content %}

<h2>Tasks</h2>

{% if user_role != 'EMPLOYEE' %}
<a href="{% url 'task_add' %}" class="btn btn-primary mb-3">Add Task</a>
{% endif %}

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>Assigned To</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>

            <td>{{ task.Name }}</td>
            <td>{{ task.P_ID.Name }}</td>

            <td>
                {% for user in task.Assigned_To.all %}
    <span class="badge bg-secondary">{{ user.username }}</span>
{% endfor %}
            </td>

            <td>
                {% if task.Status == "Done" %}
                    <span class="badge bg-success">Done</span>
                {% else %}
                    <span class="badge bg-warning text-dark">Pending</span>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}