{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-info text-white text-center">
                    <h4>{% if form.instance.pk %}Edit Task{% else %}Add Task{% endif %}</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-info w-100 mt-2">
                            Submit
                        </button>

                        <a href="javascript:history.back()" class="btn btn-outline-secondary w-100 mt-2">
                            Back
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}